<% include partials/header %>
    <div class="container cart-container ">
        <% if(cart.length > 0) { %>
            <% cart.forEach(function(product) { %>
                <div class="card mb-3" style="max-width: 740px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                        <img src="/images/<%= product.itemObj.image%>" class="card-img">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= product.itemObj.title%></h5>
                            <p class="card-text"><%= product.itemObj.description%></p>
                            <p class="card-text"><small class="text-muted">$<%= product.itemObj.price.value%>, Qty: <%= product.quantity%></small></p>
                        </div>
                        </div>
                    </div>
                </div>
            <!-- <div class="row">
                    <p><%= product._id%></p>
            </div> -->
            <%}); %>
            <h3>Total Price: $<%= totalSum %></h3>
            <form action="/cart/checkout" method="POST">
                <div class="form-group">
                    <input class="form-control" placeholder="total_price" type="hidden" name="total_price" value=<%= totalSum %>>
                </div>
                <button class="btn btn-primary" type="submit">Checkout</button>
            </form>
        <% } %>
    </div>
<% include partials/footer %>
